@import 'utilities.css';
:root{
--primary: rgb(29, 221, 189);
--bgDark: rgb(12, 12, 12);
--white: rgb(250, 250, 250);
--secondary: rgb(0, 59, 50);
--bgLight: rgb(190, 181, 181);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    }
    header{
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
    }
    header nav .left a{
    color: var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .2s ease;
    }
    header nav .left a:hover{
    color: var(--primary);
    }
    header nav {
    padding: 2rem 0;
    }
    header nav .logo{
    margin-right: 3rem;
    }

    body{
        font-family: 'Poppins', sans-serif;
        }
        .container{
        max-width: 1152px;
        padding: 0 15px;
        margin: 0 auto;
        }
        .hero{
        padding-top: 2rem;
        padding-bottom: 3rem;
        }
        .hero .left img{
        width: 400px;
        }
        .hero .right {
        color: var(--white);
        margin-top: -7rem;
        }
        .hero .right h6{
        font-size: 1.6rem;
        color: var(--primary);
        margin-bottom: 0.5rem;
        }
        .hero .right h1{
        font-size: 4rem;
        font-weight: 100;
        line-height: 1.2;
        margin-bottom: 2rem;
        }
        .hero .right h1 span{
        color: var(--primary);
        }
        .hero .right p{
        line-height: 1.9;
        margin-bottom: 2rem;
        }    
        section{
             background: rgb(253, 253, 253);justify-content: flex-end;
            padding: 6rem;
            }
            section.about h1{
            margin-bottom: 1rem;
            justify-content: flex-end;
            font-size: 1.6rem;
            font-weight: 600;
            }
            section.about h1 span{
               justify-content: flex-end;
            color: var(--primary);
            }
            section.about h3{
               
            font-size: 1rem;
            margin-bottom: 1rem;
            font-weight: 600;
            }
            section.about p{
            
            font-family: 'Lato', sans-serif;
            color: var(--secondary);
            line-height: 1.9rem;
            margin-bottom: 2rem;
            }
            section.about .socials{
            display: flex;
            }
            section.about .socials a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            margin-right: 0.8rem;
            border-radius: 50%;
            }
            section.about .socials a:hover{
            background: var(--primary);
            }

            .clock{
               width: 350px;
               height: 100px;
               display: flex;
               align-items: center;
               justify-content:flex-start ;
             }
           
             .clock div{
               background-color: bisque;
               width: 100%;
               height: 150px;
               display: flex;
               align-items: center;
               justify-content:center ;
               font-size: 60px;
               color: black;
               border-radius: 5px;
               box-shadow: 0 15px 30px rgba(0,0,0, 0.3);
               letter-spacing: 3px;
             }
             .clock span{
               font-weight: bolder;
               font-size: 60px;
               color: white;
             }

            section.project{
                background: rgb(17, 17, 17)
                }
                .project-head{
                color: rgb(10, 9, 9);
                text-align: center;
                margin-bottom: 1rem;
                line-height: 0.5rem;
                color: var(--primary);
                }
                .project-head + p{
                color: var(--white);
                font-family: 'Lato', sans-serif;
                margin-bottom: 1rem;
                text-align: center;
                margin-bottom: 6rem;
                font-weight: 400;
                }
                .card img{
                width: 50px;
                background:white;
                }
                section.project .card-grid{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                column-gap: 2rem;
                }
                section.project .card-grid .card{
                background: var(--white);
                padding: 3rem 2rem;
                position: relative;
                text-align: center;
                transition: all .2s ease;
                }
                section.project .card-grid .card img{
                position: absolute;
                top: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
                color: var();
                }
                section.project .card-grid .card h2{
                font-weight: 600;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                }
                section.project .card-grid .card p{
                font-family: 'Lato', sans-serif;
                color: var(--seconday);
                line-height: 1.6;
                }
                section.project .card-grid .card:hover{
                background: var(--primary);
                }
                section.project .card-grid .card:hover h2{
                color: var(--white);
                }
                section.project .card-grid .card:hover p{
                color: var(--white);
                }  
                
                .icon-button {  
                    background-color: white;  
                    border-radius: 2.6rem;  
                    cursor: pointer;  
                    display: inline-block;  
                    font-size: 1.3rem;  
                    height: 2.6rem;  
                    line-height: 2.6rem;  
                    margin: 0 5px;  
                    position: relative;  
                    text-align: left;  
                    -webkit-user-select: none;  
                      -moz-user-select: none;  
                      -ms-user-select: none;  
                        user-select: none;  
                    width: 2.6rem;  
               }  
               /* Circle */  
               .icon-button span {  
                    border-radius: 0;  
                    display: block;  
                    height: 0;  
                    left: 50%;  
                    margin: 0;  
                    position: absolute;  
                    top: 50%;  
                    -webkit-transition: all 0.3s;  
                      -moz-transition: all 0.3s;  
                       -o-transition: all 0.3s;  
                        transition: all 0.3s;  
                    width: 0;  
               }  
               .icon-button:hover span {  
                    width: 2.6rem;  
                    height: 2.6rem;  
                    border-radius: 2.6rem;  
                    margin: -1.3rem;  
               }  
               /* Icons */  
               .icon-button i {  
                    background: none;  
                    color: white;  
                    height: 2.6rem;  
                    left: 0;  
                    line-height: 2.6rem;  
                    position: absolute;  
                    top: 0;  
                    -webkit-transition: all 0.3s;  
                      -moz-transition: all 0.3s;  
                       -o-transition: all 0.3s;  
                        transition: all 0.3s;  
                    width: 2.6rem;  
                    z-index: 10;  
               }  
               .twitter span {  
                    background-color: #4099ff;  
               }  
               .facebook span {  
                    background-color: #3B5998;  
               }  
               .google-plus span {  
                    background-color: #db5a3c;  
               }  
               .tumblr span {  
                    background-color: #34526f;  
               }  
               .instagram span {  
                    background-color: #517fa4;  
               }  
               .youtube span {  
                    background-color: #bb0000;  
               }  
               .pinterest span {  
                    background-color: #cb2027;  
               }  
               .icon-button .icon-twitter {  
                    color: #4099ff;  
               }  
               .icon-button .icon-facebook {  
                    color: #3B5998;  
               }  
               .icon-button .fa-tumblr {  
                    color: #34526f;  
               }  
               .icon-button .icon-google-plus {  
                    color: #db5a3c;  
               }  
               .icon-button .fa-instagram {  
                    color: #517fa4;  
               }  
               .icon-button .fa-youtube {  
                    color: #bb0000;  
               }  
               .icon-button .fa-pinterest {  
                    color: #cb2027;  
               }  
               .icon-button:hover .icon-twitter,  
               .icon-button:hover .icon-facebook,  
               .icon-button:hover .icon-google-plus,  
               .icon-button:hover .fa-tumblr,  
               .icon-button:hover .fa-instagram,  
               .icon-button:hover .fa-youtube,  
               .icon-button:hover .fa-pinterest {  
                    color: white;  
               }  
               @media all and (max-width: 680px) {  
                .icon-button {  
                 border-radius: 1.6rem;  
                 font-size: 0.8rem;  
                 height: 1.6rem;  
                 line-height: 1.6rem;  
                 width: 1.6rem;  
                }  
                .icon-button:hover span {  
                 width: 1.6rem;  
                 height: 1.6rem;  
                 border-radius: 1.6rem;  
                 margin: -0.8rem;  
                }  
                /* Icons */  
                .icon-button i {  
                     height: 1.6rem;  
                     line-height: 1.6rem;  
                     width: 1.6rem;  
                }  
                body {  
                     padding: 10px;  
                }  
                .pinterest {  
                 display: none;   
                }  
               }   
                  




                   
                      

           
